@use "sass:color";

#ClockSVG {
	overflow: visible;

	width: 90vmin;
	height: 90vmin;
	margin: auto;
	position: absolute;

	@media (prefers-color-scheme: light) {
		--foreground-color: black;
		--background-color: white;
	}

	@media (prefers-color-scheme: dark) {
		--foreground-color: white;
		--background-color: #0b0024;
	}
}

#DaylightHoursSVG {
	overflow: visible;

	width: 100vw;
	height: 100vh;
	margin: auto;
	position: absolute;
}

#DaylightHours {

	path {
		transition: opacity 250ms;
	}

	#Day {
		fill: url(#DaylightSky);
		opacity: 0.9;
	}

	#DawnAstronomicalTwilight,
	#DawnNauticalTwilight,
	#DawnCivilTwilight,
	#DuskCivilTwilight,
	#DuskNauticalTwilight,
	#DuskAstronomicalTwilight {
		fill: url(#DaylightSky);
	}

	#DawnCivilTwilight,
	#DuskCivilTwilight {
		opacity: 0.8;
	}

	#DawnNauticalTwilight,
	#DuskNauticalTwilight {
		opacity: 0.2;
	}

	#DawnAstronomicalTwilight,
	#DuskAstronomicalTwilight {
		opacity: 0.08;
	}

	#Night {
		fill: #0b0024;
	}

}

#MoonlightHours {
	transition: opacity 250ms;
}

#MoonlightArc {
	stroke: rgba(255, 255, 255, 0.22);
	stroke-width: 1px;
	stroke-linecap: round;
	fill: none;
}

#MoonlightBar {
	stroke: rgba(255, 255, 255, 0.2);
	stroke-width: 8px;
	stroke-linecap: round;
	fill: none;
}

text {
	text-anchor: middle;
	dominant-baseline: middle;
}

#Mask {
	fill: color.adjust(white, $alpha: -.85);
}

#Face {
	user-select: none;
	fill: none;
	stroke: var(--foreground-color);

	transition: transform .5s cubic-bezier(0.83, 0, 0.17, 1);

	&.dst-rotated {
		transform: rotate(-15deg);
	}

	#Disc {
		fill: var(--background-color);
		stroke: none;
	}

	#HourPivot {
		fill: var(--foreground-color);
		stroke: none;
	}

	#HourHand {
		fill: var(--foreground-color);
		stroke: var(--foreground-color);
		stroke-width: 6;
		stroke-linecap: round;
	}

	#DateMask {
		stroke: var(--background-color);
		stroke-width: 5;
	}

	#DatePivot {
		fill: none;
		stroke: var(--foreground-color);
		stroke-width: 2;
	}

	#DateHand {
		fill: var(--foreground-color);
		stroke: var(--foreground-color);
		stroke-width: 4;
		stroke-linecap: round;
	}

	#Date {
		font-size: 16px;
		font-weight: bold;
		text-transform: uppercase;
		dominant-baseline: auto;
	}

	.tick {
		fill: var(--foreground-color);
		stroke-width: 0;
	}

	text {
		font-family: Helvetica;
		font-size: 16px;
		dominant-baseline: central;

		fill: var(--foreground-color);
		stroke-width: 0;
	}

	.hour-digit {
		fill: white;
	}

}

#CelestialBodies {
	#Sun {
		stroke: none;
		fill: url(#SunGradient);
		filter: url(#SunBlur);
	}

	#SunBurst {
		stroke: none;
		fill: #fff;
		filter: url(#SunBurstBlur);
		fill-opacity: 1;
	}

	#Moon {
		cursor: pointer;
		clip-path: url(#ShadowClip);

		&.daytime-moon {
			opacity: .3;
		}
	}
}

#Calendar {

	--summer: rgb(255, 227, 0);
	--winter: rgb(0, 170, 255);
	--spring: rgb(161, 255, 30);
	--autumn: rgb(255, 143, 0);

	--january: rgb(0, 213, 255);
	--february: rgb(0, 200, 255);
	--march: rgb(161, 255, 30);
	--april: rgb(206, 255, 30);
	--may: rgb(203, 255, 30);
	--june: rgb(255, 227, 0);
	--july: rgb(255, 247, 0);
	--august: rgb(255, 238, 0);
	--september: rgb(255, 143, 0);
	--october: rgb(255, 140, 0);
	--november: rgb(255, 163, 65);
	--december: rgb(0, 170, 255);

	circle {
		stroke-width: 0;
	}

	.dot {
		fill: var(--foreground-color);
		// fill: none;
		opacity: .3;
		&.first {
			opacity: 1;
			&.january { fill: var(--january); }
			&.february { fill: var(--february); }
			&.march { fill: var(--march); }
			&.april { fill: var(--april); }
			&.may { fill: var(--may); }
			&.june { fill: var(--june); }
			&.july { fill: var(--july); }
			&.august { fill: var(--august); }
			&.september { fill: var(--september); }
			&.october { fill: var(--october); }
			&.november { fill: var(--november); }
			&.december { fill: var(--december); }
		}
	}

	.past {
		opacity: 0.1;
	}

	.ring {
		&.today {
			fill: rgb(255, 0, 0);
			&.first{
				&.january { fill: var(--january); }
				&.february { fill: var(--february); }
				&.march { fill: var(--march); }
				&.april { fill: var(--april); }
				&.may { fill: var(--may); }
				&.june { fill: var(--june); }
				&.july { fill: var(--july); }
				&.august { fill: var(--august); }
				&.september { fill: var(--september); }
				&.october { fill: var(--october); }
				&.november { fill: var(--november); }
				&.december { fill: var(--december); }
			}
		}

		&.summer-solstice {
			fill: var(--summer);
		}

		&.winter-solstice {
			fill: var(--winter);
		}

		&.spring-equinox {
			fill: var(--spring);
		}

		&.autumn-equinox {
			fill: var(--autumn);
		}
	}


}

@keyframes loadingAnimation {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(35deg);
	}
}

#Spinner {

	#LoadingIndicator {
		stroke: #b11313;
		stroke-dasharray: 0, 6.6;
		stroke-width: 2px;
		stroke-linecap: round;
		fill: none;

		animation: loadingAnimation 1.5s infinite;
		opacity: 1;
		transition: opacity 1s;
	}

	#LoadingIndicator.hide {
		opacity: 0;
	}
}

#DebugTime {
	position: absolute;
	bottom: 20px;
	right: 20px;
	text-align: right;
	font-size: 20px;
	font-weight: bold;
	color: white;
	text-shadow: 0 0 5px rgba(black, .5)
}