@use "sass:color";

#ClockSVG {
	overflow: visible;

	width: 90vmin;
	height: 90vmin;
	margin: auto;
	position: absolute;
}

#DaylightHoursSVG {
	overflow: visible;

	width: 100vw;
	height: 100vh;
	margin: auto;
	position: absolute;
}

#DaylightHours {

	path {
		transition: opacity 250ms;
	}

	#Day {
		fill: url(#DaylightSky);
		opacity: 0.9;
	}

	#DawnAstronomicalTwilight,
	#DawnNauticalTwilight,
	#DawnCivilTwilight,
	#DuskCivilTwilight,
	#DuskNauticalTwilight,
	#DuskAstronomicalTwilight {
		fill: url(#DaylightSky);
	}

	#DawnCivilTwilight,
	#DuskCivilTwilight {
		opacity: 0.8;
	}

	#DawnNauticalTwilight,
	#DuskNauticalTwilight {
		opacity: 0.2;
	}

	#DawnAstronomicalTwilight,
	#DuskAstronomicalTwilight {
		opacity: 0.08;
	}

	#Night {
		fill: #0b0024;
	}

}

#MoonlightHours {
	transition: opacity 250ms;
}

#MoonlightArc {
	stroke: rgba(255, 255, 255, 0.22);
	stroke-width: 1px;
	stroke-linecap: round;
	fill: none;
}

#MoonlightBar {
	stroke: rgba(255, 255, 255, 0.2);
	stroke-width: 8px;
	stroke-linecap: round;
	fill: none;
}

text {
	text-anchor: middle;
	dominant-baseline: middle;
}

#Mask {
	fill: color.adjust(white, $alpha: -.85);
}

#Face {
	user-select: none;
	--foreground-color: black;
	--background-color: white;
	fill: none;
	stroke: var(--foreground-color);

	transition: transform .5s cubic-bezier(0.83, 0, 0.17, 1);

	&.dst-rotated {
		transform: rotate(-15deg);
	}

	@media (prefers-color-scheme: dark) {
		--foreground-color: white;
		--background-color: #0b0024;
	}

	#Disc {
		fill: var(--background-color);
		stroke: none;
	}

	#Pivot {
		fill: var(--foreground-color);
		stroke: none;
	}

	#HourHand {
		fill: var(--foreground-color);
		stroke: var(--foreground-color);
		stroke-width: 6;
		stroke-linecap: round;
	}

	.tick {
		fill: var(--foreground-color);
		stroke-width: 0;
	}

	text {
		font-family: Helvetica;
		font-size: 16px;
		dominant-baseline: central;

		fill: white;
		stroke-width: 0;
	}

	#Date {
		font-size: 13px;
		font-weight: lighter;
		text-transform: uppercase;
	}
}

#CelestialBodies {
	#Sun {
		stroke: none;
		fill: url(#SunGradient);
		filter: url(#SunBlur);
	}

	#SunBurst {
		stroke: none;
		fill: #fff;
		filter: url(#SunBurstBlur);
		fill-opacity: 1;
	}

	#Moon {
		cursor: pointer;
		clip-path: url(#ShadowClip);

		&.daytime-moon {
			opacity: .3;
		}
	}
}

#Calendar {
	.day {
		fill: white;
	}
	.past {
		opacity: 0.3;
	}
	.today.ring { fill: white;}
	.summer-solstice { fill: rgb(251, 251, 175); }
	.winter-solstice { fill: rgb(0, 34, 255); }
	.spring-equinox { fill: rgb(161, 255, 30); }
	.autumn-equinox { fill: rgb(255, 98, 0); }
	.ring { opacity: .5; }
}

@keyframes loadingAnimation {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(35deg);
	}
}

#Spinner {

	#LoadingIndicator {
		stroke: #b11313;
		stroke-dasharray: 0, 6.6;
		stroke-width: 2px;
		stroke-linecap: round;
		fill: none;

		animation: loadingAnimation 1.5s infinite;
		opacity: 1;
		transition: opacity 1s;
	}

	#LoadingIndicator.hide {
		opacity: 0;
	}
}

#DebugTime {
	position: absolute;
	bottom: 20px;
	right: 20px;
	text-align: right;
	font-size: 20px;
	font-weight: bold;
	color: white;
	text-shadow: 0 0 5px rgba(black, .5)
}