body {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 100vh;
	width: 100vw;
	overflow: hidden;
	margin: 0;
	padding: 0;

	font-family: Helvetica;
}

@mixin emoji() {
	font-family: 'Apple Color Emoji' !important;
	font-weight: normal !important;
}

.emoji {
	@include emoji();
}

.transparent {
	opacity: 0 !important;
}

.display-none {
	display: none;
}

@mixin hiderTransition() {
	transition: opacity 500ms;
}

.hider {
	@include hiderTransition();
}

[data-emoji] {
	&::before {
		content: attr(data-emoji);

		width: 25px;
		margin-right: 5px;
	}
}

a {
	&:link {
		color: rgb(6, 118, 173);
	}
	&:visited {
		color: rgb(94, 163, 196);
	}
	&:hover,
	&:active {
		color: rgb(223, 44, 178);
	}
}

input {
	&:focus {
		outline: 0;
		border-color: #7ab2d2 !important;
		box-shadow: 0 0 5px #3a9fb9;
	}

	&[type='text'],
	&[type='number'],
	&[type='date'],
	&[type='time'] {
		margin-top: 4px;
		padding: 2px 5px;

		font-family: Helvetica;
		font-size: 16px;

		border: 1px solid gray;
		border-radius: 3px;
	}
}


button {
	line-height: 0;
	height: 36px;
	padding: 9px 11px;

	cursor: pointer;

	font-size: 16px;

	border: 0;
	border-radius: 3px;
	background: transparentize(black, .9);

	&[data-emoji]::before {
		margin-right: 10px;
	}

	&:focus {
		outline: 0;
	}
}

summary {
	cursor: pointer;
	&:focus {
		outline: 0;
	}
}

dialog {
	position: fixed;
	right: 10px;
	left: 10px;
	display: flex;
	justify-content: center;

	border: 0;
	background: transparent;

	& > form {
		max-width: 400px;
		padding: 20px;

		font-weight: normal;

		border: 0;
		border-radius: 20px;
		color: #333;
		background: white;
		box-shadow: 0 0 5px transparentize(black, .3);
		h2 {
			margin-top: 0;
		}
		p {
			font-size: 16px;
			font-weight: normal;
		}
	}
}

.buttons {
	display: flex;
	justify-content: flex-end;

	margin-bottom: 0;

	button {
		margin-left: 10px;

		cursor: pointer;

		font-size: 16px;
		font-weight: bold;

		border: 0;
		border-radius: 5px;

		&[data-action='ok'] {
			background: linear-gradient(rgb(123, 203, 8), rgb(103, 173, 3));
		}

		&[data-action='cancel'] {
			background: linear-gradient(rgb(230, 228, 224), rgb(201, 200, 187));
		}

		&[data-action='ok'],
		&[data-action='cancel'] {
			width: 80px;
		}
	}
}

h1 {
	font-size: 18px;
}

h2 {
	font-size: 17px;
}

h3 {
	font-size: 16px;
}

#Cog {
	background: transparent;
	position: fixed;
	bottom: 10px;
	left: 10px;
}
